:root {
  --main-text-color: #212121;
  --semi-text-color: #757575;
  --alt-text-color: #ffffff;
  --alt-text-color-transp: rgba(255, 255, 255, 0.6);
  --active-link-text: #2196f3;

  --background-section-dark: #2f303a;
  --background-section-light: #f5f4fa;
  --background-color-button: #2196f3;
  --background-color-filters-button: #f5f4fa;
  --background-color-button-hover: #188ce8;
  --background-color-card: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.nav-link:hover {
  color: var(--active-link-text);
}

.contact-link {
  color: var(--semi-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact-link:hover {
  color: var(--active-link-text);
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-alt {
  color: var(--alt-text-color);
}

.first-part-logo {
  color: var(--active-link-text);
}

.hero {
  background-color: var(--background-section-dark);
}

.hero-title {
  color: var(--alt-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--alt-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: var(--background-color-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover {
  background: var(--background-color-button-hover);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--semi-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team {
  background-color: var(--background-section-light);
}

.section-team-card {
  background-color: var(--background-color-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team-card-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-footer {
  background-color: var(--background-section-dark);
}

.section-footer-adress {
  color: var(--alt-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.section-footer-contact-link {
  color: var(--alt-text-color-transp);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.filters-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background-color: var(--background-color-filters-button);
}

.filters-button:hover {
  color: var(--alt-text-color);
  background-color: var(--background-color-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.collections-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.collections-card-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.collections-card-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--semi-text-color);
}
